config BQ2597X_MMI
	tristate "BQ2597X MMI"
	default n
	help
	  Say Y here if you have a bq2597x compatible
	  device connected.

	  This driver can also be built as a module.  If so, the module
	  will be called bq2597x_mmi.

config BQ2597X_DUAL
	bool "BQ2597X DUAL"
	default n
	help
	  Say Y here if you have a bq2597x DUAL compatible
	  device connected.
