#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_V3
    bool "Focaltech Touchscreen v3"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.

config TOUCHSCREEN_FTS_DIRECTORY_V3
    string "Focaltech ts v3 directory name"
    default "focaltech_touch_v3"
    depends on TOUCHSCREEN_FTS_V3

config INPUT_TOUCHSCREEN_FOCALTECH_V3
    tristate "FocalTech Touchscreen Driver V3"
    depends on INPUT_TOUCHSCREEN_MMI
    default n
    help
      Say Y here if you wish to include support for FocalTech Touchscreen V3.

      If unsure, say N.

      To compile this driver as a module, choose M here: the
      module will be called focaltech_v3.

if INPUT_TOUCHSCREEN_FOCALTECH_V3

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_NOISE_TEST_P2P
    bool "FocalTech V3 MMI Noise test point to point"
    default n
    help
      Say Y here if you want to have Noise test point to point support on Moto
      FocalTech V3.

      If unsure, say N.

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_COMPATIBLE_WITH_GKI
    bool "FocalTech V3 MMI GKI compatibility"
    default n
    help
      Say Y here if you want to have GKI compatibility support on Moto
      FocalTech V3.

      If unsure, say N.

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_DOUBLE_TAP_CONTROL
    bool "FocalTech V3 MMI Double tap control"
    default n
    help
      Say Y here if you want to have Double tap control support on Moto
      FocalTech V3.

      If unsure, say N.

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_SUPPORT_HIGH_RESOLUTION
    bool "FocalTech V3 MMI High resolution"
    default n
    help
      Say Y here if you want to have High resolution support on Moto
      FocalTech V3.

      If unsure, say N.

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_VDD_GPIO_CONTROL
    bool "FocalTech V3 MMI VDD GPIO control"
    default n
    help
      Say Y here if you want to have VDD GPIO control support on Moto
      FocalTech V3.

      If unsure, say N.

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_LAST_TIME
    bool "FocalTech V3 MMI Timestamp"
    default n
    help
      Say Y here if you want to have Timestamp support on Moto FocalTech V3.

      If unsure, say N.

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_ENABLE_DOUBLE_TAP
    bool "FocalTech V3 MMI Double tap"
    default n
    help
      Say Y here if you want to have Double tap support on Moto FocalTech V3.

      If unsure, say N.

config INPUT_TOUCHSCREEN_FOCALTECH_V3_MMI_ENABLE_PALM
    bool "FocalTech V3 MMI Palm Sensor"
    default n
    help
      Say Y here if you want to have palm sensor support on Moto FocalTech V3.

      If unsure, say N.

endif
