source "drivers/power/avs/Kconfig"
source "drivers/power/reset/Kconfig"
source "drivers/power/supply/Kconfig"
source "drivers/power/p938x_charger/Kconfig"
source "drivers/power/qpnp_adaptive_charge/Kconfig"
source "drivers/power/qpnp-smbcharger-mmi/Kconfig"
source "drivers/power/mmi_parallel_charger/Kconfig"
source "drivers/power/mmi_parallel_charger_qc3p/Kconfig"
source "drivers/power/bq2597x_mmi/Kconfig"
