/* Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "khaje-moto-common-overlay.dtsi"
#include "khaje-rhode-display.dtsi"
#include "khaje-rhode-fps-overlay_evb.dtsi"
#include "khaje-rhode-touchscreen-overlay.dtsi"
#include "sgm7220.dtsi"
#include "discrete_charging.dtsi"

&firmware {
	android {
		vbmeta {
			compatible = "android,vbmeta";
			parts = "vbmeta,boot,system,vendor,dtbo";
		};
	};
};
&soc {
    qcom,tz_gpio {
        compatible = "qcom,tz_gpio";
        tlmm-tz = <14>,
                        <15>,
                        <16>,
                        <17>;
    };

	ldo_vib {
		compatible = "moto,vibrator-ldo";
		moto,vib-ldo-gpio = <&pm6125_gpios 8 0>;
		status = "ok";
	};
};


&tlmm{
	capsense_sar_gpio_pins: capsense_sar_gpio_pins {
		mux {
			pins = "gpio106";
			function = "gpio";
		};

		config {
			pins = "gpio106";
			drive-strength = <2>;
			bias-pull-up;
			input-enable;
		};
	};
};


&sdhc_2 {
	vdd-supply = <&L22A>;
	qcom,vdd-voltage-level = <2960000 2960000>;
	qcom,vdd-current-level = <0 800000>;

	vdd-io-supply = <&L5A>;
	qcom,vdd-io-voltage-level = <1800000 2960000>;
	qcom,vdd-io-current-level = <0 22000>;

	vdd-io-bias-supply = <&L7A>;
	qcom,vdd-io-bias-voltage-level = <1256000 1256000>;
	qcom,vdd-io-bias-current-level = <0 6000>;

	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&sdc2_clk_on  &sdc2_cmd_on &sdc2_data_on &sdc2_cd_on>;
	pinctrl-1 = <&sdc2_clk_off &sdc2_cmd_off &sdc2_data_off &sdc2_cd_off>;

	cd-gpios = <&tlmm 88 GPIO_ACTIVE_HIGH>;

	status = "ok";
};

&qupv3_se0_i2c {
        status = "ok";
        aw9610x_sar@12 {
            compatible = "awinic,aw9610x_sar_0";
            reg = <0x12>;
            interrupt-parent = <&tlmm>;
            interrupts = <106 0x02>;
            irq-gpio = <&tlmm 106 0x02>;
            chip_name = "AW96105";
            sar-num = <0>;
            cap_vcc-supply = <&pm6125_l21>;
            aw9610x,channel_number = <0x3>;
            ch0_name = "capsense_bottom_left";
            ch1_name = "capsense_top";
            ch2_name = "capsense_bottom_right";
            aw9610x,using-firmware;
            aw9610x,firmware_name = "aw9610x_0";
        };
};
&tlmm{
	cam_pmic_en_default: cam_pmic_en_default {
		mux {
			pins = "gpio26";
			function = "gpio";
		};
		config {
			pins = "gpio26";
			drive-strength = <2>;
			bias-pull-up;
			output-high;
		};
	};
};
&qupv3_se1_i2c {
	status = "ok";
	cam_pmic: wl2868c@2F{
		compatible = "semi,wl2868c";
		reg = <0x2F>;

		semi,cs-gpios = <&tlmm 26 1>;

		pinctrl-0 = <&cam_pmic_en_default>;
		pinctrl-names = "default";

		vin1-supply = <&S6A>;

		regulators {
			cam_ldo1: ldo1 {
				regulator-name = "ldo1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3787500>;
			};

			cam_ldo2: ldo2 {
				regulator-name = "ldo2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3787500>;
			};

			cam_ldo3: ldo3 {
				regulator-name = "ldo3";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <4387500>;
			};

			cam_ldo4: ldo4 {
				regulator-name = "ldo4";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <4387500>;
			};

			cam_ldo5: ldo5 {
				regulator-name = "ldo5";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <4387500>;
			};

			cam_ldo6: ldo6 {
				regulator-name = "ldo6";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <4387500>;
			};

			cam_ldo7: ldo7 {
				regulator-name = "ldo7";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <4387500>;
			};
		};
	};
};
&pm8008_8 {
	status = "disabled";
};
&pm8008_9 {
	status = "disabled";
};